@import "../../../styles/variables";

.title {
  font-weight: 900;
  font-size: 30px;
  line-height: 90%;
  color: #333333;
  margin-bottom: 15px;

  @media (min-width: 1200px) {
    margin-bottom: 30px;
  }
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #333333;

  @media (min-width: 1200px) {
    font-size: 16px;
  }
}
