@import "src/styles/variables";

.catalogFilters {
  background-color: #efefef;
  padding: 8px 0;
  position: sticky;
  top: 40px;
  width: 100%;

  z-index: 100;

  @media (min-width: 768px) {
    top: 0;
  }

  @media (min-width: 1320px) {
    padding: 25px 0;
    display: block;
  }
}
