@import "src/styles/variables";

.cta {
  background: rgba(103, 103, 103, 0.04);
  position: relative;

  .container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
  }
  .bgImage {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  .text {
    display: none;

    @media (min-width: 768px) {
      display: block;
      margin-right: 50px;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #333333;
    }

    @media (min-width: 1320px) {
      display: block;
      margin-right: 50px;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #333333;
    }
  }
}

.ctaHeader {
  height: 40px;
  overflow: hidden;
  padding: 0;
  border-radius: 360px;
  display: flex;
  justify-content: flex-end;

  @media (min-width: 1024px) {
    width: 360px;
  }
}

.ctaCard {
  border-radius: 10px;
  display: none;

  @media (min-width: 1320px) {
    display: block;
  }

  .container {
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 60px 30px 35px;

    .bgImage {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: -100px;
    }

    .title {
      font-size: 24px;
      line-height: 90%;
      font-weight: 900;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      position: relative;
    }

    .text {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 94px;
      color: rgba(51, 51, 51, 0.6);
      position: relative;
    }
  }
}

.main {
  padding: 0 10px;

  @media (min-width: 1320px) {
    padding: 0;
  }
  .wrap {
    padding: 60px 30px 60px 15px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    @media (min-width: 1320px) {
      border-radius: 0;
      padding: 40px 10px;
    }

    .content {
      position: relative;
      z-index: 10;

      .title {
        font-weight: 800;
        font-size: 40px;
        line-height: 100%;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 10px;

        @media (min-width: 576px) {
          text-align: right;
        }

        @media (min-width: 768px) {
          font-size: 56px;
        }

        @media (min-width: 1320px) {
          font-size: 70px;
          line-height: 84px;
        }
      }

      .description {
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        color: white;
        margin-bottom: 60px;

        @media (min-width: 1320px) {
          font-size: 24px;
        }
      }

      .button {
        padding: 15px 45px;
        border-radius: 30px;
        background: linear-gradient(90deg, #fd8d1b -0.12%, #fe5d0b 99.88%);
        box-shadow: 0px 2.24988px 7.49961px rgba(0, 0, 0, 0.11);
        display: flex;
        align-items: center;

        i {
          margin-right: 15px;

          @media (min-width: 1320px) {
            svg {
              width: 19px;
              height: 19px;
            }
          }
        }

        span {
          font-weight: 600;
          font-size: 13px;
          line-height: 16px;
          /* identical to box height */
          text-transform: uppercase;
          color: #ffffff;

          @media (min-width: 1320px) {
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
    }

    .bgImage {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
  }
}
