@import "src/styles/variables";

.hero {
  min-height: 600px;
  position: relative;
  overflow: hidden;

  .title {
    font-weight: 400;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */
    letter-spacing: 0.35em;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 15px;

    @media (min-width: 1200px) {
      font-size: 60px;
      line-height: 72px;
    }
  }

  .image {
    display: flex;
    justify-content: flex-end;
  }
}
