@import "../../../../styles/variables";

.card {
  height: 100%;

  .borderWrap {
    border-radius: 10px;
    padding: 1px;
    background: linear-gradient(0deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
    height: 100%;
  }

  .content {
    padding: 30px 15px;
    position: relative;
    background: $background;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      border-radius: 10px;
      background: white;
      transition: opacity 0.3s ease-in-out;
      opacity: 0;
    }

    @media (min-width: 1320px) {
      padding: 60px 30px 35px;
    }
  }

  &:hover {
    .content {
      box-shadow: 0px 0px 63px rgba(0, 0, 0, 0.11);

      &:before {
        opacity: 1;
      }
    }
    .borderWrap {
      background: transparent;
    }
  }
}

.favoriteButton {
  position: absolute;
  right: 20px;
  top: 13px;

  @media (min-width: 1320px) {
    top: 30px;
    right: 25px;

    img {
      width: 25px;
      height: 25px;
    }
  }
}

.newLabel {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  background: linear-gradient(256.31deg, #992121 9.58%, #ff0000 90.42%), #333333;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 13px;
  left: 18px;
  text-transform: uppercase;

  @media (min-width: 1320px) {
    font-size: 20px;
    line-height: 24px;
    top: 30px;
    left: 25px;
  }
}

.attributes {
  margin-bottom: 20px;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
    padding: 6px 9px;

    &:last-child {
      border-bottom: none;
    }

    h4 {
      font-weight: 800;
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      color: #333333;
      transition: color 0.2s ease-in-out;

      @media (min-width: 1320px) {
        font-size: 12px;
        line-height: 14px;
      }
    }

    span {
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      transition: color 0.2s ease-in-out;

      @media (min-width: 1320px) {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}

.title {
  font-weight: 900;
  font-size: 18px;
  line-height: 90%;
  text-align: center;
  margin-bottom: 15px;
  transition: color 0.2s ease-in-out;

  @media (min-width: 1320px) {
    font-size: 24px;
  }
}

.priceBlock {
  padding: 7px;
  margin: auto auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: fit-content;

  .price {
    display: flex;
    align-items: center;
    transition: color 0.2s ease-in-out;

    sup {
      font-weight: 400;
      font-size: 9px;
      line-height: 12px;
      top: -6px;

      @media (min-width: 1320px) {
        top: -10px;
      }
    }

    .from {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      margin-right: 10px;
      display: none;

      @media (min-width: 1320px) {
        display: block;
      }
    }

    .count {
      font-weight: 400;
      font-size: 18px;
      line-height: 100%;

      @media (min-width: 1320px) {
        font-size: 24px;
      }
    }
  }
}

.image {
  height: 140px;
  overflow: hidden;
  padding: 0 30px;

  @media (min-width: 420px) {
    height: 180px;
  }

  @media (min-width: 576px) {
    height: 250px;
  }

  @media (min-width: 768px) {
    height: 100%;
    padding: 0 50px;
  }

  @media (min-width: 1320px) {
    height: 100%;
    padding: 0 55px;
  }
}

.button {
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  padding: 11px 14px;
  border: 1px solid $black;
  border-radius: 30px;
  margin: 0 auto;
  display: block;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;

  @media (min-width: 1320px) {
    padding: 15px 20px;
    font-size: 14px;
    line-height: 17px;
  }
}

.new {
  .borderWrap {
    background: linear-gradient(0deg, rgba(#e70808, 0.2), #f5f5f5 100%);
  }
}

.sale {
  .borderWrap {
    background: linear-gradient(0deg, rgba(#ffc93f, 1), #f5f5f5 100%);
  }

  .priceBlock {
    background-color: $yellow;
    display: flex;
    justify-content: center;
    gap: 5px;

    .discount {
      white-space: nowrap;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: #ff5656;

      span {
        font-size: 12px;
        color: $black;
      }

      @media (min-width: 1320px) {
        font-size: 18px;

        span {
          font-size: 14px;
        }
      }
    }

    .oldPrice {
      font-weight: 400;
      font-size: 12px;
      line-height: 100%;
      color: #333333;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #ff5656;
        transform: rotate(-14deg);
      }

      @media (min-width: 1320px) {
        font-size: 14px;
      }
    }

    .line {
      display: block;
      width: 0.4px;
      height: 15px;
      background-color: $black;
    }
  }

  &:hover {
    .priceBlock {
      .price {
        color: $black;
      }
    }
  }
}

.arrowPrev,
.arrowNext {
  position: absolute;
  top: 50%;
  z-index: 10;
  display: none;

  svg {
    path {
      transition: fill 0.3s ease-in-out;
      fill: #efefef;
    }
  }

  @media (min-width: 1200px) {
    display: flex;
  }
}

.arrowPrev {
  transform: rotate(180deg);
  left: 0;
}

.arrowNext {
  right: 0;
}
