@import "src/styles/variables";

.button {
  width: 70px;
  height: 70px;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $black;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  right: 20px;
  bottom: -35px;
  position: absolute;
  z-index: 99;

  &:hover,
  &:focus {
    background-color: lighten($black, 10);
  }

  &:active {
    background-color: $black;
  }
}

.fixed {
  position: fixed;
  bottom: 45px;
  z-index: 99;

  @media (min-width: 1320px) {
    bottom: 65px;
  }
}
